{% load staticfiles %}
{% block head %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="HandheldFriendly" content="true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Accueil</title>
        <link rel="icon" href="{% static "assets/img/content/icon.png" %}">
        <!-- ========== CSS INCLUDES ========== -->
        <link rel="stylesheet" href="{% static "assets/css/master.css" %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
    </head>
{% endblock %}

<body>
    {% block loader %}
        <div class="page-loader">
             <div class="vertical-align align-center">
                  <img src="{% static "assets/loader/loader.gif" %}" alt="" class="loader-img">
             </div>
        </div>
    {% endblock %}
    {% block player %}
	<!-- =============== START PLAYER ================ -->
	<div id="jp_container_N" class="jplayer-home homeCustom">
			<div class="jp-type-playlist">
				<div class="jp-gui">
					<div class="minWrap">
						<div class="custom-buttons">
							<div id="h-player"><i class="fa fa-minus"></i></div>
						</div>
					</div>
					<div class="jp-interface container">
						<div class="jp-controls-holder">
							<div class="jp-controls">
								<button class="jp-previous" tabindex="0"><i class="fa fa-step-backward"></i></button>
								<button class="jp-play" tabindex="0"><i class="fa fa-play"></i></button>
								<!-- <button class="jp-stop" tabindex="0"><i class="flaticon-geometry60"></i></button> -->
								<button class="jp-next" tabindex="0"><i class="fa fa-step-forward"></i>
								</button>
									<button id="playlist-toggle" class="jplayerButton">
										<span class="span-1"></span>
										<span class="span-2"></span>
										<span class="span-3"></span>
									</button>
							</div><!-- .jp-controls -->
							<!-- <div class="jp-toggles">
								<button class="jp-repeat" tabindex="0"><i class="flaticon-round72"></i></button>
								<button class="jp-shuffle" tabindex="0"><i class="flaticon-random9"></i></button>
							</div> --><!-- .jp-toggles -->
						</div><!-- .jp-controls-holder -->
						<div class="progress-wrapper">
							<span class="jp-current-time" role="timer" aria-label="time">&nbsp;</span>

							<span class="jp-duration" role="timer" aria-label="duration">&nbsp;</span>
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div><!-- .jp-progress -->
						</div>
						<!-- <div class="jp-details">
							<div class="jp-title" aria-label="title">&nbsp;</div>
						</div> -->
						<div class="track-wrapper">
							<div id="jquery_jplayer_N" class="jp-jplayer"></div><!-- .jp-layer PHOTO CONTAINER -->
							<div id="nowPlaying"></div><!-- #nowPlaying -->
						</div>
					</div><!-- .jp-interface -->
				</div><!-- .jp-gui -->
				<div id="playlist-wrapper" class="playlist-wrapper">
					<div class="jp-playlist container">
						<div class="header-text">
							<h1><img src="{% static "assets/img/header/logoB.png" %}" alt=""></h1>
							<p>PLAYERLIST</p>
						</div>
						<div class="about-list clearfix">
							<span class="about-name">NAME</span>
							<span class="about-length">LENGTH</span>
							<span class="about-available">AVAILABLE ON</span>
						</div>
						<ul>
							<!-- The method Playlist.displayPlaylist() uses this unordered list -->
							<li>&nbsp;</li>
						</ul>
					</div><!-- .jp-playlist -->
				</div>
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your <a href="../../get.adobe.com/flashplayer/index.html" target="_blank">Flash plugin</a>.
				</div><!-- .jp-no-solution -->
			</div><!-- .jp-type-playlist -->
	</div><!-- .jp-container_N -->
	<!-- =============== END PLAYER ================ -->
    {% endblock %}
    {% block headerNav %}
	<!-- =============== START TOP HEADER ================ -->
	<div class="topHeader" >
		<div class="logo-container-top">
	        <a href="{% url 'home' %}">Cdbucket</a>
	    </div>
		<div class="header">

      {% if user.is_authenticated %}
      <a href="{% url 'mon_compte' %}"><i class="material-icons md-18" style="vertical-align:middle;" >person</i> Mon Compte</a>
      <a href="{% url 'deconnexion' %}"><i></i> Deconnexion</a>
      {% else %}
      <a href="{% url 'sign-up' 'user' %}"><i class="material-icons md-18" style="vertical-align:middle;">queue</i> Inscription</a>
      <a href="{% url 'connexion' %}"><i class="material-icons md-18" style="vertical-align:middle;" >person</i> Connexion</a>
      {% endif %}



		</div><!-- end header -->
		<!-- Menu Fixed Container -->

		<!-- =============== STAR LOGO ================ -->
		<!-- end logo-container-top -->
		<!-- =============== END LOGO ================ -->
	</div><!-- end topHeader -->
	<!-- =============== END TOP HEADER ================ -->
    {% endblock %}
    {% block title %}
	<!-- =============== START BREADCRUMB ================ -->
	<section class="no-mb">
		<div class="row">
			<div class="col-sm-12">
				<div class="breadcrumb-fullscreen-parent phone-menu-bg">
					<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url('{% static "assets/img/starHomePage/background.jpg" %}');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
						<div id="home" style="position: absolute;left: 0;top: 0;">
						    <div class="intro-header">
						        <div class="js-height-full star" style="height: 955px;">
						            <div class="star-pattern-1 js-height-full" style="height: 994px;"></div>
						            <div class="col-sm-12">
						                <div class="starTitle">
						                	<h4>Welcome to the</h4>
						                	<h1>CDBucket</h1>
						                	<h4>Project</h4>
						                </div>
						                <canvas class="cover" width="1920" height="955"></canvas>
						            </div>
						        </div>
						    </div>
	   			    	</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END BREADCRUMB ================ -->
    {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
	<!-- =============== START ALBUM COVER SECTION ================ -->
	<section style="background-color:white;" class="padding albumsHome">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="sectionTitle paddingBottom">
						<span class="heading-t3"></span>
						<h2>Recommandation de musiques</h2>
						<span class="heading-b3"></span>
					</div><!-- end sectionTtile -->
				</div><!-- end col-sm-12 -->
			</div>
			<div class="list-albums">
				<ul class="list-feature col-md-12 col-xs-12 col-sm-12">
					<li class="col-md-3 col-sm-3 col-xs-12">
						<div class="album-icon">
							<span class="thumbs-album">
								<a href="albumsSingle1.html"><img width="270" height="270" src="{% static "assets/img/content/albumCover.png" %}" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
							</span>
							<span class="disk"></span>
						</div><!-- END ALBUM ICON -->
						<div class="name">
							<h3>Noon Xoxo</h3>
							<p>Chillout</p>
						</div><!-- end name -->
					</li>

					<li class="col-md-3 col-sm-3 col-xs-12">
						<div class="album-icon albumIcon1">
							<span class="thumbs-album">
								<a href="albumsSingle3.html"><img width="270" height="270" src="{% static "assets/img/content/albumCover1.png" %}" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
							</span>
							<span class="disk"></span>
						</div>
						<div class="name">
							<h3>Stunt Vibe</h3>									<p>Chillout</p>
						</div>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-12">
							<div class="album-icon albumIcon2">
								<span class="thumbs-album">
									<a href="albumsSingle4.html"><img width="270" height="270" src="{% static "assets/img/content/albumCover2.png" %}" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
									</span>
								<span class="disk"></span>
							</div>
							<div class="name">
								<h3>Strange Clouds</h3>								<p>Chillout</p>
							</div>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-12">
							<div class="album-icon albumIcon3">
								<span class="thumbs-album">
									<a href="albumsSingle2.html"><img width="270" height="270" src="{% static "assets/img/content/albumCover3.png" %}" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
									</span>
								<span class="disk"></span>
							</div>
							<div class="name">
								<h3>Natural Earth</h3>								<p>Chillout</p>
							</div>
						</li>
				</ul>
			</div><!-- end list-albums -->
		</div><!-- end container -->
	</section>
	<!-- =============== END ALBUM COVER SECTION ================ -->

	<!-- =============== START EVENTS SECTION-1 ================ -->
	<section style="" class="opacity background-properties paddingHomeEvents">
		<div class="tableEvents">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="sectionTitle paddingBottom">
							<span class="heading-t3"></span>
							<h2><a href="albums.html">Dérnières publications</a></h2>
							<span class="heading-b3"></span>
						</div><!-- end sectionTtile -->
						<table>
							<tr class="tableEventsTitle">
								<th class="date">Date</th>
								<th class="venue">Venue</th>
								<th class="location">Location</th>
								<th class="tickets">Tickets</th>
								<th></th>
							</tr>
							<tr>
								<td class="aqura-date"><a href="#"><i class="fa fa-plus"></i></a><a href="singleEvent.html">Mar 06</a></td>
								<td class="aqura-location"><a href="singleEvent.html">Central Park</a></td>
								<td class="aqura-city"><a href="singleEvent.html">Cluj Napoca, Bontida Romania</a></td>
								<td class="aqura-tickets"><a href="singleEvent.html">Tickets</a></td>
								<td class="aqura-vip"><a href="singleEvent.html">RSVP</a></td>
							</tr>
							<tr>
								<td class="aqura-date"><a href="#"><i class="fa fa-plus"></i></a><a href="singleEvent.html">Mar 06</a></td>
								<td class="aqura-location"><a href="singleEvent.html">Central Park</a></td>
								<td class="aqura-city"><a href="singleEvent.html">Cluj Napoca, Bontida Romania</a></td>
								<td class="aqura-tickets"><a href="singleEvent.html">Tickets</a></td>
								<td class="aqura-vip"><a href="singleEvent.html">RSVP</a></td>
							</tr>
							<tr>
								<td class="aqura-date"><a href="#"><i class="fa fa-plus"></i></a><a href="singleEvent.html">Mar 06</a></td>
								<td class="aqura-location"><a href="singleEvent.html">Central Park</a></td>
								<td class="aqura-city"><a href="singleEvent.html">Cluj Napoca, Bontida Romania</a></td>
								<td class="aqura-tickets"><a href="singleEvent.html">Tickets</a></td>
								<td class="aqura-vip"><a href="singleEvent.html">RSVP</a></td>
							</tr>
							<tr>
								<td class="aqura-date"><a href="#"><i class="fa fa-plus"></i></a><a href="singleEvent.html">Mar 06</a></td>
								<td class="aqura-location"><a href="singleEvent.html">Central Park</a></td>
								<td class="aqura-city"><a href="singleEvent.html">Cluj Napoca, Bontida Romania</a></td>
								<td class="aqura-tickets"><a href="singleEvent.html">Tickets</a></td>
								<td class="aqura-vip"><a href="singleEvent.html">RSVP</a></td>
							</tr>
							<tr>
								<td class="aqura-date"><a href="#"><i class="fa fa-plus"></i></a><a href="singleEvent.html">Mar 06</a></td>
								<td class="aqura-location"><a href="singleEvent.html">Central Park</a></td>
								<td class="aqura-city"><a href="singleEvent.html">Cluj Napoca, Bontida Romania</a></td>
								<td class="aqura-tickets"><a href="singleEvent.html">Tickets</a></td>
								<td class="aqura-vip"><a href="singleEvent.html">RSVP</a></td>
							</tr>
						</table>
					</div><!-- end col-sm-12 -->
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end tableEvents -->
	</section>
	<!-- =============== END EVENTS SECTION-1 ================ -->

	<!-- =============== START EVENTS SECTION-2 ================ -->
	<section class="padding countdownSection background-properties" style="background-image: url({% static "assets/img/events/home-events-2.jpg" %});">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="countdownTitle">
						<h4>Next Event</h4>
						<a href="#"><img src="{% static "assets/img/events/box.png" %}" alt="Event"></a>
					</div>
					<div class="sm-countdown sm_content_element sm-style2" id="sm_countdown-19" data-date="2016/10/23">
						<div class="displayCounter">
							<div class="column">
								<div class="sm_countdown_inner">
									<input class="element days" readonly="readonly" data-min="0" data-max="365" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit days-title">days</span>
								</div>
							</div>
							<div class="column">
								<div class="sm_countdown_inner">
									<input class="element hour" readonly="readonly" data-min="0" data-max="24" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit hours-title">hrs</span>
								</div>
							</div>
							<div class="column">
								<div class="sm_countdown_inner">
									<input class="element minute" readonly="readonly" data-min="0" data-max="60" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit mins-title">min</span>
								</div>
							</div>
							<div class="column">
								<div class="sm_countdown_inner">
									<input class="element second" readonly="readonly" data-min="0" data-max="60" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit secs-title">sec</span>
								</div>
							</div>
						</div>
					</div><!-- end sm-countdown -->
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END EVENTS SECTION-2 ================ -->

	<!-- =============== START HOME-BLOG SECTION ================ -->
	<section class="padding background-properties blogHomeSection" style="background-image: url({% static "assets/img/blog/blog-home.jpg" %});">
		<div class="container">
			<div class="row">
				<div class="sectionTitle paddingBottom">
					<span class="heading-t3"></span>
					<h2><a href="albums.html">News</a></h2>
					<span class="heading-b3"></span>
				</div><!-- end sectionTtile -->
				<div class="col-sm-4">
					<div class="blogBox">
						<div class="imgBox"><img src="{% static "assets/img/blog/box-img.jpg" %}" alt="box-img"></div>
						<div class="blogBoxContent">
							<div class="blogHeader">
								<h1><a href="blogSingle.html">Gallery Post</a></h1>
							</div>
							<div class="admin-list clearfix">
								<ul>
									<li><a href="#">08 dec 2016</a>&nbsp;/&nbsp;</li>
									<li><a href="#">By Admin</a></li>
								</ul>
							</div><!-- end admin-list -->
							<div class="blogParagraph">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
							</div><!--end blogParagraph  -->
							<div class="rmButton">
								<a href="#">Read More</a>
							</div>
						</div><!-- end blogBoxContent -->
					</div><!-- end blogBox -->
				</div><!-- end col-sm-4 -->
				<div class="col-sm-4">
					<div class="blogBox">
						<div class="videoBox"><iframe src="../../player.vimeo.com/video/145837856.html" width="600" height="410"  ></iframe></div>
						<div class="blogBoxContent">
							<div class="blogHeader">
								<h1><a href="blogSingle.html">Video Post</a></h1>
							</div>
							<div class="admin-list clearfix">
								<ul>
									<li><a href="#">28 apr 2016</a>&nbsp;/&nbsp;</li>
									<li><a href="#">By Admin</a></li>
								</ul>
							</div><!-- end admin-list -->
							<div class="blogParagraph">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
							</div><!--end blogParagraph  -->
							<div class="rmButton">
								<a href="#">Read More</a>
							</div>
						</div><!-- end blogBoxContent -->
					</div><!-- end blogBox -->
				</div><!-- end col-sm-4 -->
				<div class="col-sm-4">
					<div class="blogBox">
						<div class="soundcloudBox"><iframe height="203" src="../../w.soundcloud.com/player/indexa342.html?url=https%3A//api.soundcloud.com/tracks/73595878&amp;color=bb9b69&amp;show_artwork=false&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe></div>
						<div class="blogBoxContent">
							<div class="blogHeader">
								<h1><a href="blogSingle.html">Soundcloud Post</a></h1>
							</div>
							<div class="admin-list clearfix">
								<ul>
									<li><a href="#">08 dec 2016</a>&nbsp;/&nbsp;</li>
									<li><a href="#">By Admin</a></li>
								</ul>
							</div><!-- end admin-list -->
							<div class="blogParagraph">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
							</div><!--end blogParagraph  -->
							<div class="rmButton">
								<a href="#">Read More</a>
							</div>
						</div><!-- end blogBoxContent -->
					</div><!-- end blogBox -->
				</div><!-- end col-sm-4 -->
			</div><!-- end container -->
		</div><!-- end row -->
	</section>
	<!-- =============== END HOME-NLOG SECTION ================ -->

	<!-- =============== START TWITTER SECTION ================ -->
	<section class="padding background-properties" style="background-image: url({% static "assets/img/content/twitterBgk.jpg" %});">
		<div class="twitter">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="twitterLogo">
							<a href="#"><img src="{% static "assets/img/content/twitterLogo.png" %}" alt="twitterLogo"></a>
							<a href="#" class="linkTwitter">@ThemeBrothers</a>
						</div>
						<p>AQURA - Creative Theme for dj, bands and musicians #HTML#Theme now available on #ThemeForest - <a href="../../twitter.com/index927b.html?request_context=signup">https://twitter.com/?request_context=signup</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END TWITTER SECTION ================ -->

	<!-- =============== START TWITTER SECTION ================ -->
	<section class="background-properties homeTwitter">

	</section>
	<!-- =============== END TWITTER SECTION ================ -->

	<!-- =============== START VIDEO SECTION ================ -->
	<section class="videoHome padding">
		<div class="container">
			<div class="row">
				<div class="sectionTitle">
					<span class="heading-t3"></span>
					<h2><a href="albums.html">Upload Video</a></h2>
					<span class="heading-b3"></span>
					<p>Check out my latest videos and follow me on <a href="#">Youtube</a> & <a href="#">Vimeo</a> to view more.</p>
				</div><!-- end sectionTtile -->
				<div class="col-sm-4">
					<iframe width="560" height="315" src="../../www.youtube.com/embed/VV-Q-aRHTDE.html"  allowfullscreen></iframe>
				</div><!-- end col-sm-4 -->
				<div class="col-sm-4">
					<iframe width="560" height="315" src="../../www.youtube.com/embed/VxG5C4q_rEs.html"  allowfullscreen></iframe>
				</div><!-- end col-sm-4 -->
				<div class="col-sm-4">
					<iframe width="560" height="315" src="../../www.youtube.com/embed/OkbuRa1o1wA.html"  allowfullscreen></iframe>
				</div><!-- end col-sm-4 -->
			</div>
		</div>
	</section>
	<!-- =============== END VIDEO SECTION ================ -->

	<!-- =============== START GALLERY SECTION ================ -->
	<section style="padding-bottom:0; padding-top:0;">
		<div class="gallerySection">
			<div class="container-fluid" style="padding:0;">
				<div class="col-sm-12">
					<!-- Content Container -->
					<div class="content-container clearfix">
						<!-- Single Album Container -->
						<div class="single-photo-album-container">
							<div class="row">
								<!-- Single Album Article -->
								<article class="col-sm-12 col-md-6 col-xs-12">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<!-- Single Album Image -->
											<div class="hovereffect">
										        <img class="img-responsive" src="{% static "assets/img/content/g1.jpg" %}" alt="">
										        <div class="overlay">
										           <a class="info lightbox" href="{% static "assets/img/bigGallery/1.jpg" %}"></a>
										        </div>
										    </div>
										</figcaption>
										<!-- Single Album View Button -->

									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
									        <img class="img-responsive" src="{% static "assets/img/content/g2.jpg" %}" alt="">
									        <div class="overlay">
									           <a class="info lightbox" href="{% static "assets/img/bigGallery/2.jpg" %}"></a>
									        </div>
									    </div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
									        <img class="img-responsive" src="{% static "assets/img/content/g3.jpg" %}" alt="">
									        <div class="overlay">
									           <a class="info lightbox" href="{% static "assets/img/bigGallery/3.jpg" %}"></a>
									        </div>
									    </div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
									        <img class="img-responsive" src="{% static "assets/img/content/g4.jpg" %}" alt="">
									        <div class="overlay">
									           <a class="info lightbox" href="{% static "assets/img/bigGallery/4.jpg" %}"></a>
									        </div>
									    </div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
									        <img class="img-responsive" src="{% static "assets/img/content/g5.jpg" %}" alt="">
									        <div class="overlay">
									           <a class="info lightbox" href="{% static "assets/img/bigGallery/5.jpg" %}"></a>
									        </div>
									    </div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-12 col-md-6 col-xs-12">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
									        <img class="img-responsive" src="{% static "assets/img/content/g6.jpg" %}" alt="">
									        <div class="overlay">
									           <a class="info lightbox" href="{% static "assets/img/bigGallery/6.jpg" %}"></a>
									        </div>
									    </div>
										</figcaption>
									</figure>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div><!-- end container -->
		</div>
	</section>
	<!-- =============== END GALLERY SECTION ================ -->
{% else %}  {% endif %}

    {% endblock %}

    {% block footer %}
	<!-- =============== START FOOTER ================ -->
	<section style="background-color:#eeeeee;">
		<div class="footer footerPadding">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="copyFooter">
							<a href="#">&copy; Aqura 2015</a>
						</div>
					</div>
					<div class="col-sm-4">
						<nav class="social-icons">
							<ul class="clearfix">
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-twitter"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-facebook"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-apple"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-lastfm"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-soundcloud"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-youtube-play"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-vimeo"></i><span></span></a></li>
                			</ul>
						</nav>
					</div>
					<div class="col-sm-4">
						<div class="goTop back-to-top" id="back-to-top">
							<i class="fa fa-angle-up"></i>
							<a href="#">Go Top</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END FOOTER ================ -->
    {% endblock %}
    {% block javasscript %}
	<!-- ================================================== -->
	<!-- =============== START JQUERY SCRIPTS ================ -->
	<!-- ================================================== -->
	<script src="{% static "assets/js/jquery.js" %}"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/plugins.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/jplayer/jplayer/jquery.jplayer.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/jplayer/add-on/jplayer.playlist.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/playlist.js" %}"></script>
	<script src="{% static "assets/js/main.js" %}"></script>
	<!--[if lte IE 9 ]>
		<script src="{% static "assets/js/placeholder.js"></script>
		<script>
			jQuery(function() {
				jQuery('input, textarea').placeholder();
			});
		</script>
	<![endif]-->
	<!-- ================================================== -->
	<!-- =============== END JQUERY SCRIPTS ================ -->
	<!-- ================================================== -->
    {% endblock %}
    {% block extrajavascript %}
    {% endblock %}
</body>
</html>
