{% extends "base.html" %}
{% load staticfiles %}
{% block player %}{% endblock %}
{% block title %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade in col-md-4" style="position:absolute;top:1%;margin-left: auto;margin-right: auto;left: 0;right: 0;z-index:9999;"role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                </button>
                <span class="glyphicon glyphicon-ok-sign"></span> Musique ajoutée
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade in col-md-4" style="position:absolute;top:1%;margin-left: auto;margin-right: auto;left: 0;right: 0;z-index:9999;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
        </button>
        <i class="material-icons" style="vertical-align:middle;">error_outline</i> Le formulaire soumis n'est pas valide
    </div>
{% endif %}
<section class="no-mb">
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumb-fullscreen-parent phone-menu-bg">
                <div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url('{% static "assets/img/starHomePage/background2.jpg" %}');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
                    <div id="home" style="position: absolute;left: 0;top: 0;">
                        <div class="intro-header">
                            <div class="js-height-full star" style="height: 955px;">
                                <div class="star-pattern-1 js-height-full" style="height: 994px;"></div>
                                <div class="col-sm-12">
                                    <div class="starTitle col-sm-6 custom-form" >
                                        <h3>Ajoutez une</h3>
						                <h1>Musique</h1>
                                        <h3>A votre collection</h3>
                                    </div>
                                    <canvas class="cover" width="1920" minHeight="955"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<section style="" class="opacity background-properties paddingHomeEvents">
    <div class="tableEvents">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible fade in " role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                </button>
                                <i class="material-icons" style="vertical-align:middle;">error_outline</i> {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        {{ form.non_field_errors }}
                        <div class="fieldWrapper">
                            {% if form.titre.errors %}
                                <div class="alert alert-danger alert-dismissible fade in " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="material-icons" style="vertical-align:middle;">error_outline</i> {{ form.titre.errors }}
                                </div>
                            {% endif %}
                            <label for="{{ form.titre.id_for_label }}">Titre :</label>
                            {{ form.titre }}
                        </div>
                        <div class="fieldWrapper">
                            {% if form.duree.errors %}
                                <div class="alert alert-danger alert-dismissible fade in " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="material-icons" style="vertical-align:middle;">error_outline</i> {{ form.duree.errors }}
                                </div>
                            {% endif %}
                            <label for="{{ form.duree.id_for_label }}">Duree :</label>
                            {{ form.duree }}
                        </div>
                        <div class="fieldWrapper">
                            {% if form.album.errors %}
                                <div class="alert alert-danger alert-dismissible fade in " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="material-icons" style="vertical-align:middle;">error_outline</i> {{ form.album.errors }}
                                </div>
                            {% endif %}
                            <label for="{{ form.album.id_for_label }}">Album :</label>
                            {{ form.album }}
                        </div>
                        <div class="fieldWrapper">
                            {% if form.tag.errors %}
                                <div class="alert alert-danger alert-dismissible fade in " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="material-icons" style="vertical-align:middle;">error_outline</i> {{ form.tag.errors }}
                                </div>
                            {% endif %}
                            <label for="{{ form.tag.id_for_label }}">Tag :</label>
                            {{ form.tag }}
                        </div>
                        <div class="fieldWrapper">
                            {% if form.path.errors %}
                                <div class="alert alert-danger alert-dismissible fade in " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                    </button>
                                    <i class="material-icons" style="vertical-align:middle;">error_outline</i> {{ form.path.errors }}
                                </div>
                            {% endif %}
                            <label for="{{ form.path.id_for_label }}">Fichier :</label>
                            {{ form.path }}
                        </div>
                        <input type="submit" value="Ajouter" />
                    </form>
                </div><!-- end col-sm-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end tableEvents -->
</section>
{% endblock %}
{% block extrajavascript %}
<script src="{% static "SelectInspiration/js/classie.js" %}"></script>
<script src="{% static "SelectInspiration/js/selectFx.js" %}"></script>
<script>
    (function() {
        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
            new SelectFx(el);
        } );
    })();
</script>
{% endblock %}
