{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Mes albums</title>
	<link rel="icon" href="assets/img/content/icon.png">
	<!-- ========== CSS INCLUDES ========== -->
	<link rel="stylesheet" type="text/css" href="{% static "ModalWindowEffects/css/component.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "CustomFileInputs/css/component.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "SelectInspiration/css/cs-select.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "SelectInspiration/css/cs-skin-slide.css" %}"/>

	<link rel="stylesheet" href="{% static "assets/css/master.css" %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
</head>
{% endblock %}
<body>
	{% block title %}
	<!-- =============== START BREADCRUMB ================ -->
	<section class="no-mb">
		<div class="row">
			<div class="col-sm-12">
				<div class="before-FullscreenSlider"></div>
				<div class="breadcrumb-fullscreen-parent phone-menu-bg">
					<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url(' {% static "assets/img/albums/single4.jpg" %}');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END BREADCRUMB ================ -->
  {% endblock %}
  {% block content %}
  <section class="albumSingle padding background-properties" style="background-image:url(assets/img/albums/single22.jpg);">
	  <div class="row">
		  <div class="col-sm-12 col-xs-12">
			  <div class="aqura-filter-content">
				  <ul class="clearfix">
				  {% for album in albums %}
					  <li class="col-sm-4 col-xs-12 musique">
						  <div class="blogBox">
							  <div class="blogBoxContent">
								  <div class="blogHeader">
									  <h1>{{ music.titre }}</h1>
								  </div>
								  <div class="admin-list clearfix">
									  <ul>
										  <li>{{ album.auteur }}</li>


												  <tr>
													  <td class="padTable"><a href="#" class="btnPlay song"
												   data-mp3="{{ musique.path.url }}"
												   data-artist="{{ musique.auteur.username }}"
												   data-song="{{ musique.titre }}"
												   data-poster="{% static "assets/img/albums/cover1.jpg" %}"><i class="fa fa-play"></i></a></td>
													  <td class="tableWidth">{{ album.titre }}</td>
													  <td>{{ album.duree }}</td>
													  </tr>
									  </ul>
								  </div>
								  <div class="rmButton">
									  <a href="blogSingle.html">Ajouter à ma playlist</a>
								  </div>
								  <div class="rmButton">
									  <a href="blogSingle.html">Voir l'album</a>
								  </div>
								  <div class="rmButton">
									  <a href="{{ musique.path.url }}" download="{{ musique.titre }}.mp3">Télécharger</a>
								  </div>
							  </div><!-- end blogBoxContent -->
						  </div><!-- end blogBox -->
					  </li><!-- end col-sm-4 -->
			  {% endfor %}
					  </ul>
				  </div><!-- end aqura-filter-cotent -->
			  </div><!-- end col-sm-12 -->
			</div><!-- end row -->
			<!-- end filter -->
			</div><!-- end container -->
		</section>
  </section>
  {% endblock %}
	{% block footer %}
	<!-- =============== START FOOTER ================ -->
	<section style="background-color:#eeeeee;">
		<div class="footer footerPadding">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="copyFooter">
							<a href="#">&copy; CDBUCKET 2016</a>
						</div>
					</div>
					<div class="col-sm-4">
					</div>
					<div class="col-sm-4">
						<div class="goTop" id="back-to-top">
							<i class="fa fa-angle-up"></i>
							<a href="#">Go Top</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END FOOTER ================ -->
	{% endblock %}

</body>
</html>
