{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>mon compte</title>
	<link rel="icon" href="assets/img/content/icon.png">
	<!-- ========== CSS INCLUDES ========== -->
	<link rel="stylesheet" type="text/css" href="{% static "ModalWindowEffects/css/component.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "CustomFileInputs/css/component.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "SelectInspiration/css/cs-select.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "SelectInspiration/css/cs-skin-slide.css" %}"/>

	<link rel="stylesheet" href="{% static "assets/css/master.css" %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
</head>
{% endblock %}
<body>

	{% block title %}
	{% if group == "Artistes" %}
	<!-- =============== START BREADCRUMB ================ -->
	<section class="no-mb">
		<div class="row">
			<div class="col-sm-12">
				<div class="before-FullscreenSlider"></div>
				<div class="breadcrumb-fullscreen-parent phone-menu-bg">
					<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url(' {% static "assets/img/albums/single1.jpg" %}');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END BREADCRUMB ================ -->

	{% else %}
	<!-- =============== START BREADCRUMB ================ -->
	<section class="no-mb">
		<div class="row">
			<div class="col-sm-12">
				<div class="before-FullscreenSlider"></div>
				<div class="breadcrumb-fullscreen-parent phone-menu-bg">
					<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url(' {% static "assets/img/albums/single4.jpg" %}');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END BREADCRUMB ================ -->
	{% endif %}
	{% endblock %}


	{% block content %}
		{% if group == "Artistes" %}
			{% include "mon_compte_artiste.html" %}
		{% else %}
			{% include "mon_compte_user.html" %}
		{% endif %}
	{% endblock %}



{% block footer %}

<!-- =============== START PAGINATION ================ -->
<div class="section-block  bkg-grey-ultralight pagination-2">
	<div class="row full-width ">
		<div class="col-sm-6 leftHover" style="background-image: url(' {% static "assets/img/albums/albFooter.jpg" %}');">
			<a href="{% url 'home' %}" class="pagination-previous">
				<span>RECOMMANDATION</span>
			</a>
		</div>
		<div class="col-sm-6 rightHover" style="background-image: url(' {% static "assets/img/albums/albFooter.jpg" %}');">
			<a href="{% url 'home' %}" class="pagination-next ">
				<span>MES ALBUMS</span>
			</a>
		</div>
		<div class="col-sm-6 rightHover" style="background-image: url(' {% static "assets/img/albums/albFooter.jpg" %}');">
			<a href="{% url 'home' %}" class="pagination-next ">
				<span>MES PLAYLIST</span>
			</a>
		</div>
		<div class="col-sm-6 leftHover" style="background-image: url(' {% static "assets/img/albums/albFooter.jpg" %}');">
			<a href="{% url 'home' %}" class="pagination-previous">
				<span>ACCUEIL</span>
			</a>
		</div>
	</div>
</div>
<!-- =============== END PAGINATION ================ -->
<!-- =============== START FOOTER ================ -->
<section style="background-color:#eeeeee;">
	<div class="footer footerPadding">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="copyFooter">
						<a href="#">&copy; CDBUCKET 2016</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="goTop" id="back-to-top">
						<i class="fa fa-angle-up"></i>
						<a href="#">Go Top</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =============== END FOOTER ================ -->
{% endblock %}

</body>
</html>
