{% load staticfiles %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>mon compte</title>
	<link rel="icon" href="assets/img/content/icon.png">
	<!-- ========== CSS INCLUDES ========== -->
	<link rel="stylesheet" href="{% static "assets/css/master.css" %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
</head>
{% endblock %}
<body>
    {% block loader %}
        <div class="page-loader">
             <div class="vertical-align align-center">
                  <img src="{% static "assets/loader/loader.gif" %}" alt="" class="loader-img">
             </div>
        </div>
    {% endblock %}
		{% block player %}
	<!-- =============== START PLAYER ================ -->
	<div id="jp_container_N" class="jplayer-home homeNormal">
			<div class="jp-type-playlist">
				<div class="jp-gui">
					<div class="minWrap">
						<div class="custom-buttons">
							<div id="h-player"><i class="fa fa-minus"></i></div>
						</div>
					</div>
					<div class="jp-interface container">
						<div class="jp-controls-holder">
							<div class="jp-controls">
								<button class="jp-previous" tabindex="0"><i class="fa fa-step-backward"></i></button>
								<button class="jp-play" tabindex="0"><i class="fa fa-play"></i></button>
								<!-- <button class="jp-stop" tabindex="0"><i class="flaticon-geometry60"></i></button> -->
								<button class="jp-next" tabindex="0"><i class="fa fa-step-forward"></i>
								</button>
									<button id="playlist-toggle" class="jplayerButton">
										<span class="span-1"></span>
										<span class="span-2"></span>
										<span class="span-3"></span>
									</button>
							</div><!-- .jp-controls -->
							<!-- <div class="jp-toggles">
								<button class="jp-repeat" tabindex="0"><i class="flaticon-round72"></i></button>
								<button class="jp-shuffle" tabindex="0"><i class="flaticon-random9"></i></button>
							</div> --><!-- .jp-toggles -->
						</div><!-- .jp-controls-holder -->
						<div class="progress-wrapper">
							<span class="jp-current-time" role="timer" aria-label="time">&nbsp;</span>

							<span class="jp-duration" role="timer" aria-label="duration">&nbsp;</span>
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div><!-- .jp-progress -->
						</div>
						<!-- <div class="jp-details">
							<div class="jp-title" aria-label="title">&nbsp;</div>
						</div> -->
						<div class="track-wrapper">
							<div id="jquery_jplayer_N" class="jp-jplayer"></div><!-- .jp-layer PHOTO CONTAINER -->
							<div id="nowPlaying"></div><!-- #nowPlaying -->
						</div>
					</div><!-- .jp-interface -->
				</div><!-- .jp-gui -->
				<div id="playlist-wrapper" class="playlist-wrapper">
					<div class="jp-playlist container">
						<div class="header-text">
							<h1><img src="assets/img/header/logoB.png" alt=""></h1>
							<p>PLAYERLIST</p>
						</div>
						<div class="about-list clearfix">
							<span class="about-name">NAME</span>
							<span class="about-length">LENGTH</span>
							<span class="about-available">AVAILABLE ON</span>
						</div>
						<ul>
							<!-- The method Playlist.displayPlaylist() uses this unordered list -->
							<li>&nbsp;</li>
						</ul>
					</div><!-- .jp-playlist -->
				</div>
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your <a href="../../get.adobe.com/flashplayer/index.html" target="_blank">Flash plugin</a>.
				</div><!-- .jp-no-solution -->
			</div><!-- .jp-type-playlist -->
	</div><!-- .jp-container_N -->
	<!-- =============== END PLAYER ================ -->
	{% endblock %}
	{% block headerNav %}
	<!-- =============== START TOP HEADER ================ -->
	<div class="topHeader" >
		<div class="header">
			<div class="rightTopHeader">
				<div class="cartContainer">
					<div class="myCart">
					</div><!-- end myCart -->
					<div class="cartParent">
						<div class="cartItems">
							</div><!-- end cartItems -->
					</div><!-- end cartParent -->
				</div><!--end cartContainer  -->
				<!-- Open Menu Button -->
				<a class="open-menu">
					<!-- Buttons Bars -->
					<span class="span-1"></span>
					<span class="span-2"></span>
					<span class="span-3"></span>
				</a>
			</div><!-- end rightTopHeader -->
		</div><!-- end header -->
		<!-- Menu Fixed Container -->
		<div class="menu-fixed-container">
			<!-- Menu Fixed Centred Container -->
			<nav>
				<!-- Menu Fixed Close Button -->
				<div class="x-filter">
					<span></span>
					<span></span>
				</div>
				<!-- Menu Fixed Primary List -->
				<ul>
					<!-- Menu Fixed Item -->
					<li>
						<a href="index-2.html">
							Recommandation
						</a>
					</li>
					<li>
						<a href="mon_compte.html">
							Ma Playlist
						</a>
					</li>
					<!-- Menu Fixed Item -->
					<li>
						<a href="#">
							Gérer mon compte
						</a>
						<ul class="sub-menu">
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="new_email.html">
									Modifier son Adresse email
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="new_mdp.html">
									Modifier son mot de passe
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="suppr_compte.html">
									Supprimer mon compte
								</a>
							</li>
						</ul>
					</li>

					<!-- Menu Fixed Item -->
					<li>

						</a>
						<ul class="sub-menu">
							<!-- Menu Fixed Sub Menu Item -->
							<li>

								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>

								</a>
							</li>
						</ul>
					</li>
					<!-- Menu Fixed Item -->
					<li>

						</a>
					</li>
					<!-- Menu Fixed Item -->
					<li>

						</a>
					</li>
				</ul>
				<!-- Menu Fixed Close Button -->
				<div class="x-filter">
					<span></span>
					<span></span>
				</div>
			</nav>
		</div><!-- end menu-fixed-container -->
		<!-- =============== STAR LOGO ================ -->
		<div class="logo-container-top">
	        <a href="{% url 'home' %}">Cdbucket</a>
	    </div><!-- end logo-container-top -->

		<!-- =============== END LOGO ================ -->
	</div><!-- end topHeader -->
	<!-- =============== END TOP HEADER ================ -->
	{% endblock %}
	{% block title %}
	<!-- =============== START BREADCRUMB ================ -->
	<section class="no-mb">
		<div class="row">
			<div class="col-sm-12">
				<div class="before-FullscreenSlider"></div>
				<div class="breadcrumb-fullscreen-parent phone-menu-bg">
					<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url('assets/img/albums/single4.jpg');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END BREADCRUMB ================ -->
  {% endblock %}
	{% block content %}
	<!-- =============== START ALBUM SINGLE ================ -->
	<section class="albumSingle padding background-properties" style="background-image:url(assets/img/albums/single44.jpg);">
		<div class="container">
			<div class="sectionTitle paddingBottom">
				<span class="heading-t3"></span>
				<h2><a >Vous désirez modifier votre mot de passe ?</a></h2>
				<span class="heading-b3"></span>
			</div><!-- end sectionTtile -->

			<center>
				<form action="" method="post">
					{% csrf_token %}
					<label>Nouveau mot de passe :</label>
					{{ form.password }}
					<label>Confirmation du nouveau mot de passe :</label>
					{{ form.password2 }}
					<input type="submit" value="Valider">
				</form>
			</center>



	</section>
	<!-- =============== END ALBUM SINGLE ================ -->

	<!-- =============== START PAGINATION ================ -->
	<div class="section-block  bkg-grey-ultralight pagination-2">
		<div class="row full-width ">
			<div class="col-sm-6 leftHover" style="background-image: url('assets/img/albums/albFooter.jpg');">
				<a href="mon_compte.html" class="pagination-previous">
					<span>Gérer mes musiques</span>
				</a>
			</div>
			<div class="col-sm-6 rightHover" style="background-image: url('assets/img/albums/albFooter.jpg');">
				<a href="suppr_compte.html" class="pagination-next ">
					<span>Supprimer mon compte</span>
				</a>
			</div>
		</div>
	</div>
	<!-- =============== END PAGINATION ================ -->
  {% endblock %}
	{% block footer %}
	<!-- =============== START FOOTER ================ -->
	<section style="background-color:#eeeeee;">
		<div class="footer footerPadding">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="copyFooter">
							<a href="#">&copy; CDBUCKET 2016</a>
						</div>
					</div>
					<div class="col-sm-4">
						<nav class="social-icons">
							<ul class="clearfix">
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-twitter"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-facebook"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-apple"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-lastfm"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-soundcloud"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-youtube-play"></i><span></span></a></li>
	                			<li><a href="#" class="icon-button shopIcon"><i class="fa fa-vimeo"></i><span></span></a></li>
                			</ul>
						</nav>
					</div>
					<div class="col-sm-4">
						<div class="goTop" id="back-to-top">
							<i class="fa fa-angle-up"></i>
							<a href="#">Go Top</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END FOOTER ================ -->
  {% endblock %}
  {% block javasscript %}
  <!-- ================================================== -->
  <!-- =============== START JQUERY SCRIPTS ================ -->
  <!-- ================================================== -->
  <script src="{% static "assets/js/jquery.js" %}"></script>
  <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
  <script src="{% static "assets/js/plugins.js" %}"></script>
  <script type="text/javascript" src="{% static "assets/jplayer/jplayer/jquery.jplayer.js" %}"></script>
  <script type="text/javascript" src="{% static "assets/jplayer/add-on/jplayer.playlist.js" %}"></script>
  <script type="text/javascript" src="{% static "assets/js/playlist.js" %}"></script>
  <script src="{% static "assets/js/mainVideo.js" %}"></script>
  <!--[if lte IE 9 ]>
      <script src="{% static "assets/js/placeholder.js"></script>
    <script>
      jQuery(function() {
        jQuery('input, textarea').placeholder();
      });
    </script>
  <![endif]-->
  <!-- ================================================== -->
  <!-- =============== END JQUERY SCRIPTS ================ -->
  <!-- ================================================== -->
  {% endblock %}
  {% block extrajavascript %}
  {% endblock %}
  </body>
  </html>
