{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Recherche</title>
	<link rel="icon" href="assets/img/content/icon.png">
	<!-- ========== CSS INCLUDES ========== -->
	<link rel="stylesheet" type="text/css" href="{% static "ModalWindowEffects/css/component.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "CustomFileInputs/css/component.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "SelectInspiration/css/cs-select.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "SelectInspiration/css/cs-skin-slide.css" %}"/>

	<link rel="stylesheet" href="{% static "assets/css/master.css" %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
</head>
{% endblock %}
<body>



  {% block title %}
	<!-- =============== START BREADCRUMB ================ -->
	<section class="no-mb">
		<div class="row">
			<div class="col-sm-12">
				<div class="before-FullscreenSlider"></div>
				<div class="breadcrumb-fullscreen-parent phone-menu-bg">
					<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url(' {% static "assets/img/blog/header.jpg" %}');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
						<div class="breadTxt">
              <h1>
              Search
              </h1>
              <p><h2>Vous recherchez une musique en particulier ?</h2></p>
              <a href="#content" data-easing="easeInOutQuint" data-scroll="" data-speed="900" data-url="false">
              RECHERCHER <i class="fa fa-angle-down"></i>
              </a>
            </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END BREADCRUMB ================ -->
  {% endblock %}
  {% block content %}

	<!-- =============== START BLOG FILTER ================ -->
	<section class="aquraFilter padding" id="content">
		<div class="container">
			<!-- start blog-filter-category -->
			<div class="categories">
        <form method="POST" action="">{% csrf_token %}{{ form.query }}</form>
				<!--<form method="POST" action="{% url 'search' %}">{% csrf_token %}{{ form.query }}</form>-->
					<ul class="clearfix" data-option-key="filter">
						<li> <a href="#" class="selected" data-option-value="*">All</a></li>
						<li> <a href="#" data-option-value=".artiste">ARTISTE</a></li>
						<li> <a href="#" data-option-value=".album">ALBUM</a></li>
						<li> <a href="#" data-option-value=".musique">MUSIQUE</a></li>
					</ul>
			</div><!--end categories-->
			<!-- end blog-filter-category -->

			<!-- IF RETOUR RECHERCHE EST NUL RETOURNER PAS DE RESULTAT SINON RETOURNER RESULTAT -->


			{% if Albums or Artistes or Musiques %}

						<!-- start filter -->
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<div class="aqura-filter-content">
									<ul class="clearfix">
									{% for music in Musiques %}
										<li class="col-sm-4 col-xs-12 musique">
											<div class="blogBox">
												<div class="blogBoxContent">
													<div class="blogHeader">
														<h1>Titre : {{ music.titre }}</h1>
													</div>
													<div class="admin-list clearfix">
														<ul>
															<li>Auteur : {{ music.auteur }}</li>
															<li>{{ musique.duree }}</li>


																	<tr>
																		<td class="padTable"><a href="#" class="btnPlay song"
																	 data-mp3="{{ musique.path.url }}"
																	 data-artist="{{ musique.auteur.username }}"
																	 data-song="{{ musique.titre }}"
																	 data-poster="{% static "assets/img/albums/cover1.jpg" %}"><i class="fa fa-play"></i></a></td>
																		<td class="tableWidth">{{ musique.titre }}</td>
																		<td>{{ musique.duree }}</td>
																		</tr>
														</ul>
													</div>
													<div class="rmButton">
														<a href="blogSingle.html">Ajouter à ma playlist</a>
													</div>
													<div class="rmButton">
														<a href="blogSingle.html">Voir l'album</a>
													</div>
													<div class="rmButton">
														<a href="{{ musique.path.url }}" download="{{ musique.titre }}.mp3">Télécharger</a>
													</div>
												</div><!-- end blogBoxContent -->
											</div><!-- end blogBox -->
										</li><!-- end col-sm-4 -->
								{% endfor %}

								{% for album in Albums %}
									<li class="col-sm-4 col-xs-12 album">
										<div class="blogBox">
											<div class="blogBoxContent">
												<div class="blogHeader">
													<h1>Titre : {{ album.titre }}</h1>
												</div>
												<div class="admin-list clearfix">
													<ul>
														<li>Auteur : {{ album.artiste.username }}</li>
														<li>Date publi.: {{ album.date_publication }}</li>
													</ul>
												</div><!-- end admin-list -->
												<div class="rmButton">
													<a href="{% url "voir_album" album.id %}">Consulter Album</a>
												</div>
											</div><!-- end blogBoxContent -->
										</div><!-- end blogBox -->
									</li><!-- end col-sm-4 -->
								{% endfor %}

								{% for artiste in Artistes %}
									<li class="col-sm-4 col-xs-12 artiste">
										<div class="blogBox">
											<div class="blogBoxContent">
												<div class="blogHeader">
													<h1>Pseudo : {{ artiste.username }}</h1>
												</div>
												<div class="admin-list clearfix">
													<ul>
														<li>Nb album : </li>
													</ul>
												</div><!-- end admin-list -->
												<div class="rmButton">
													<a href="{% url 'fiche_artiste' artiste.id %}">Consulter Fiche Artiste</a>
												</div>
											</div><!-- end blogBoxContent -->
										</div><!-- end blogBox -->
									</li><!-- end col-sm-4 -->
								{% endfor %}
									</ul>
								</div><!-- end aqura-filter-cotent -->
							</div><!-- end col-sm-12 -->
						</div><!-- end row -->
						<!-- end filter -->
					</div><!-- end container -->
				</section>


			{% else %}
			<h1>Votre recherche n'a pas aboutie, merci.</h1>

	<!-- =============== END BLOG FILTER ================ -->
	{% endif %}
	{% endblock %}


</body>
</html>
