{% load staticfiles %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Recherche</title>
	<link rel="icon" href="assets/img/content/icon.png">
	<!-- ========== CSS INCLUDES ========== -->
	<link rel="stylesheet" href="{% static "assets/css/master.css" %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
</head>
{% endblock %}
<body>
	{% block loader %}
	<div class="page-loader">
		<div class="vertical-align align-center">
			<img src="{% static "assets/loader/loader.gif" %}" alt="" class="loader-img">
		</div>
	</div>
	{% endblock %}
	{% block player %}
	<!-- =============== START PLAYER ================ -->
	<div id="jp_container_N" class="jplayer-home homeNormal">
		<div class="jp-type-playlist">
			<div class="jp-gui">
				<div class="minWrap">
					<div class="custom-buttons">
						<div id="h-player"><i class="fa fa-minus"></i></div>
					</div>
				</div>
				<div class="jp-interface container">
					<div class="jp-controls-holder">
						<div class="jp-controls">
							<button class="jp-previous" tabindex="0"><i class="fa fa-step-backward"></i></button>
							<button class="jp-play" tabindex="0"><i class="fa fa-play"></i></button>
							<!-- <button class="jp-stop" tabindex="0"><i class="flaticon-geometry60"></i></button> -->
							<button class="jp-next" tabindex="0"><i class="fa fa-step-forward"></i>
							</button>
							<button id="playlist-toggle" class="jplayerButton">
								<span class="span-1"></span>
								<span class="span-2"></span>
								<span class="span-3"></span>
							</button>
						</div><!-- .jp-controls -->
						<!-- <div class="jp-toggles">
						<button class="jp-repeat" tabindex="0"><i class="flaticon-round72"></i></button>
						<button class="jp-shuffle" tabindex="0"><i class="flaticon-random9"></i></button>
					</div> --><!-- .jp-toggles -->
				</div><!-- .jp-controls-holder -->
				<div class="progress-wrapper">
					<span class="jp-current-time" role="timer" aria-label="time">&nbsp;</span>

					<span class="jp-duration" role="timer" aria-label="duration">&nbsp;</span>
					<div class="jp-progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>
						</div>
					</div><!-- .jp-progress -->
				</div>
				<!-- <div class="jp-details">
				<div class="jp-title" aria-label="title">&nbsp;</div>
			</div> -->
			<div class="track-wrapper">
				<div id="jquery_jplayer_N" class="jp-jplayer"></div><!-- .jp-layer PHOTO CONTAINER -->
				<div id="nowPlaying"></div><!-- #nowPlaying -->
			</div>
		</div><!-- .jp-interface -->
	</div><!-- .jp-gui -->
	<div id="playlist-wrapper" class="playlist-wrapper">
		<div class="jp-playlist container">
			<div class="header-text">
				<h1><img src="{% static "assets/img/header/logoB.png" %}" alt=""></h1>
				<p>PLAYERLIST</p>
			</div>
			<div class="about-list clearfix">
				<span class="about-name">NAME</span>
				<span class="about-length">LENGTH</span>
				<span class="about-available">AVAILABLE ON</span>
			</div>
			<ul>
				<!-- The method Playlist.displayPlaylist() uses this unordered list -->
				<li>&nbsp;</li>
			</ul>
		</div><!-- .jp-playlist -->
	</div>
	<div class="jp-no-solution">
		<span>Update Required</span>
		To play the media you will need to either update your browser to a recent version or update your <a href="../../get.adobe.com/flashplayer/index.html" target="_blank">Flash plugin</a>.
	</div><!-- .jp-no-solution -->
</div><!-- .jp-type-playlist -->
</div><!-- .jp-container_N -->
<!-- =============== END PLAYER ================ -->
{% endblock %}
{% block headerNav %}
<!-- =============== START TOP HEADER ================ -->
<div class="topHeader" >
	<div class="header">
		<div class="rightTopHeader">
			<div class="cartContainer">
				<div class="myCart">
				</div><!-- end myCart -->
				<div class="cartParent">
					<div class="cartItems">
						<button type="submit" class="single_add_to_cart_button button alt buttonView">
							View Cart
						</button>
						<button type="submit" class="single_add_to_cart_button button alt buttonCheck">
							Checkout
						</button>
					</div><!-- end cartItems -->
				</div><!-- end cartParent -->
			</div><!--end cartContainer  -->
			<!-- Open Menu Button -->
			<a class="open-menu">
				<!-- Buttons Bars -->
				<span class="span-1"></span>
				<span class="span-2"></span>
				<span class="span-3"></span>
			</a>
		</div><!-- end rightTopHeader -->
	</div><!-- end header -->
	<!-- Menu Fixed Container -->
	<div class="menu-fixed-container">
		<!-- Menu Fixed Centred Container -->
		<nav>
			<!-- Menu Fixed Close Button -->
			<div class="x-filter">
				<span></span>
				<span></span>
			</div>
			<!-- Menu Fixed Primary List -->
			<ul>
				<li>
					<a href="{% url 'mon_compte' %}">
						Mes albums
					</a>
				</li>
				<li>
					<a href="{% url 'playlist_accueil' %}">
						Ma Playlist
					</a>
				</li>
				<!-- Menu Fixed Item -->
				<li>
					<a href="#">
						Gérer mon compte
					</a>
					<ul class="sub-menu">
						<!-- Menu Fixed Sub Menu Item -->
						<li>
							<a href="{% url 'new_email' %}">
								Modifier son Adresse email
							</a>
						</li>
						<!-- Menu Fixed Sub Menu Item -->
						<li>
							<a href="{% url 'new_mdp' %}">
								Modifier son mot de passe
							</a>
						</li>
						<!-- Menu Fixed Sub Menu Item -->
						<li>
							<a href="{% url 'suppr_compte' %}">
								Supprimer mon compte
							</a>
						</li>
					</ul>
					<li>
						<a href="{% url 'contact' %}">
							Contact
						</a>
					</li>
					<li>
						<a href="{% url 'deconnexion' %}">
							Se deconnecter
						</a>
					</li>
				</li>
				<!-- Menu Fixed Item -->
			</ul>
			<!-- Menu Fixed Close Button -->
			<div class="x-filter">
				<span></span>
				<span></span>
			</div>
		</nav>
	</div><!-- end menu-fixed-container -->
	<!-- =============== STAR LOGO ================ -->
	<div class="logo-container-top">
		<a href="{% url 'home' %}">Cdbucket</a>
	</div><!-- end logo-container-top -->
	<!-- =============== END LOGO ================ -->
</div><!-- end topHeader -->
<!-- =============== END TOP HEADER ================ -->
{% endblock %}
{% block title %}
<!-- =============== START BREADCRUMB ================ -->
<section class="no-mb">
	<div class="row">
		<div class="col-sm-12">
			<div class="before-FullscreenSlider"></div>
			<div class="breadcrumb-fullscreen-parent phone-menu-bg">
				<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url(' {% static "assets/img/blog/header.jpg" %}');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
					<div class="breadTxt">
						<h1>
							Search
						</h1>
						<p><h2>Vous recherchez une musique en particulier ?</h2></p>
						<a href="#content" data-easing="easeInOutQuint" data-scroll="" data-speed="900" data-url="false">
							RECHERCHER <i class="fa fa-angle-down"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =============== END BREADCRUMB ================ -->
{% endblock %}
{% block content %}

<!-- =============== START BLOG FILTER ================ -->
<section class="aquraFilter padding" id="content">
	<div class="container">
		<!-- start blog-filter-category -->
		<div class="categories">
			<form method="POST" action="">{% csrf_token %}{{ form.query }}</form>
			<!--<form method="POST" action="{% url 'search' %}">{% csrf_token %}{{ form.query }}</form>-->
			<ul class="clearfix" data-option-key="filter">
				<li> <a href="#" class="selected" data-option-value="*">All</a></li>
				<li> <a href="#" data-option-value=".artiste">ARTISTE</a></li>
				<li> <a href="#" data-option-value=".album">ALBUM</a></li>
				<li> <a href="#" data-option-value=".musique">MUSIQUE</a></li>
			</ul>
		</div><!--end categories-->
		<!-- end blog-filter-category -->

		<!-- IF RETOUR RECHERCHE EST NUL RETOURNER PAS DE RESULTAT SINON RETOURNER RESULTAT -->


		{% if Albums or Artistes or Musiques %}

		<!-- start filter -->
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="aqura-filter-content">
					<ul class="clearfix">
						{% for music in Musiques %}
						<li class="col-sm-4 col-xs-12 musique">
							<div class="blogBox">
								<div class="blogBoxContent">
									<div class="blogHeader">
										<h1>Titre : {{ music.titre }}</h1>
									</div>
									<div class="admin-list clearfix">
										<ul>
											<li>Auteur : {{ music.auteur }}</li>
											<li>{{ musique.duree }}</li>


											<tr>
												<td class="padTable"><a href="#" class="btnPlay song"
													data-mp3="{{ musique.path.url }}"
													data-artist="{{ musique.auteur.username }}"
													data-song="{{ musique.titre }}"
													data-poster="{% static "assets/img/albums/cover1.jpg" %}"><i class="fa fa-play"></i></a></td>
													<td class="tableWidth">{{ musique.titre }}</td>
													<td>{{ musique.duree }}</td>
												</tr>
											</ul>
										</div>
										<div class="rmButton">
											<a href="blogSingle.html">Ajouter à ma playlist</a>
										</div>
										<div class="rmButton">
											<a href="blogSingle.html">Voir l'album</a>
										</div>
										<div class="rmButton">
											<a href="{{ musique.path.url }}" download="{{ musique.titre }}.mp3">Télécharger</a>
										</div>
									</div><!-- end blogBoxContent -->
								</div><!-- end blogBox -->
							</li><!-- end col-sm-4 -->
							{% endfor %}

							{% for album in Albums %}
							<li class="col-sm-4 col-xs-12 album">
								<div class="blogBox">
									<div class="blogBoxContent">
										<div class="blogHeader">
											<h1>Titre : {{ album.titre }}</h1>
										</div>
										<div class="admin-list clearfix">
											<ul>
												<li>Auteur : {{ album.artiste.username }}</li>
												<li>Date publi.: {{ album.date_publication }}</li>
											</ul>
										</div><!-- end admin-list -->
										<div class="rmButton">
											<a href="{% url "voir_album" album.id %}">Consulter Album</a>
										</div>
										<div class="rmButton">
											<a href="">Télécharger Album</a>
										</div>
									</div><!-- end blogBoxContent -->
								</div><!-- end blogBox -->
							</li><!-- end col-sm-4 -->
							{% endfor %}

							{% for artiste in Artistes %}
							<li class="col-sm-4 col-xs-12 artiste">
								<div class="blogBox">
									<div class="blogBoxContent">
										<div class="blogHeader">
											<h1>Pseudo : {{ artiste.username }}</h1>
										</div>
										<div class="admin-list clearfix">
											<ul>
												<li>Nb album : </li>
											</ul>
										</div><!-- end admin-list -->
										<div class="rmButton">
											<a href="{% url 'fiche_artiste' artiste.id %}">Consulter Fiche Artiste</a>
										</div>
									</div><!-- end blogBoxContent -->
								</div><!-- end blogBox -->
							</li><!-- end col-sm-4 -->
							{% endfor %}
						</ul>
					</div><!-- end aqura-filter-cotent -->
				</div><!-- end col-sm-12 -->
			</div><!-- end row -->
			<!-- end filter -->
		</div><!-- end container -->
	</section>


	{% else %}
	<h1>Votre recherche n'a pas aboutie, merci.</h1>

	<!-- =============== END BLOG FILTER ================ -->
	{% endif %}
	{% endblock %}


	{% block footer %}
	<!-- =============== START FOOTER ================ -->
	<section style="background-color:#eeeeee;">
		<div class="footer footerPadding">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="copyFooter">
							<a href="#">&copy; CDBUCKET 2016</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="goTop" id="back-to-top">
							<i class="fa fa-angle-up"></i>
							<a href="#">Go Top</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END FOOTER ================ -->
	{% endblock %}
	{% block javasscript %}
	<!-- ================================================== -->
	<!-- =============== START JQUERY SCRIPTS ================ -->
	<!-- ================================================== -->
	<script src="{% static "assets/js/jquery.js" %}"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/plugins.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/jplayer/jplayer/jquery.jplayer.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/jplayer/add-on/jplayer.playlist.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/playlist.js" %}"></script>
	<script src="{% static "assets/js/mainVideo.js" %}"></script>
	<!--[if lte IE 9 ]>
	<script src="{% static "assets/js/placeholder.js"></script>
	<script>
	jQuery(function() {
	jQuery('input, textarea').placeholder();
});
</script>
<![endif]-->
<!-- ================================================== -->
<!-- =============== END JQUERY SCRIPTS ================ -->
<!-- ================================================== -->
{% endblock %}
{% block extrajavascript %}
{% endblock %}
</body>
</html>
